.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.contact {
	background-position: 50% 50% !important;
	background size: cover !important;
	background-repeat: no-repeat;
	width: 100%;
	background-image: url("../image/large.jpg");
}
 
section {
	margin: 0;
	padding: 0;
}

.section-fullscreen {
	min-height: 100vh;
}
  
.section-md {
	padding: 0;
}

.flex-vertical-center {
	display: flex;
	align-items: center;
}
.form {
 	width: 60%;
 	height: 300px;
 	background: white;
 	margin: 0 auto;
 	border:1px solid darkgrey;
 	border-top: 5px solid #337ab7; 
}

.form h3{
 	border-bottom: 3px solid darkgrey;
 	width: 90%;
}
.form-control {
	border-radius: none;
}

span{
  	color: red;
}

p{
	display: block;
}
button, input, optgroup, select, textarea {
	margin: 5px;
}

