
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-transition: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;  
}

.clearfix {
	display: table;
}

.clearfix:after{
	content:"";
	clear: both;
}

/**************** Header ****************/
.banner {
    position: relative;
    background: rgba(0,0,0,.6) !important;
    height: 600px;
    color: #fff;
    text-align: center;
}

.banner .img-transp {
    position: absolute;
    left:0; 
    top:0;
    background-size: cover;
    min-height: 768px;
    width: 100%;
    opacity: 0.5px; 
    background-image: url("../image/large.jpg");
    z-index: -1;
}

.list-inline {
    float: right;
    margin: 15px 20px 0 0;
}

.list-inline li a {
	display: inline-block;
    padding-left: 20px;
    color: #fff;
    font-size: 15px;
}

.phrase {
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-160%);
}

.header-banner {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(51, 119, 255, 0.4);
	padding: 20px 0;
	margin-left: -15px; 
}

.header-banner h3{
	margin: 0;
}


header nav a {
	color: #808080;
	display:inline-block;
	padding:10px 10px;
	text-decoration: none;
	border-radius: 6px;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;	
}

header nav a:hover, nav li a:focus {
	background-color: darkgrey;
	color: #FFF;
	text-decoration: none;
	outline: none;
}

#main-navigation {
	z-index: 1;
	position: absolute;
	right: 10px;
	margin: 17px 20px 0 0;
}
#main-navigation ul {
	background-color: rgba(51, 119, 255, 0.4);
	list-style: none;
	padding: 10px;
	border-radius: 5px;
}
#main-navigation ul a{
	color: #FFF;
}

.icon-menu{
	margin: 10px;
	background-color: transparent;
	color: lightgrey;
	font-size: 25px;
}

.mobile-menu {
	margin-top: -20px;
}

#burger-button {
	background-color: transparent;
	padding: 5px;
	border-color: lightgrey;
}
/**************** Vertical Divider****************/
.vertical-divider {
	border-top:1px solid #CCC;
	text-align: center;
} 

.vertical-divider img {
	position: absolute;
	z-index: 1;
	transform: translateY(-50%) translateX(-50%);
}


/**************** Services ****************/
.services {
	text-align: center;
	margin: 100px auto;
}

.services h2, h4, p {
	padding: 15px;
}

.services h2{
	margin-bottom: 50px;
}

.services h4{
	color:#006699;
}

.text-center {
	color: #6699ff; 
	text-align: center;	
 }

.btn1, .icon-container {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	line-height: 150px;
	font-size: 60px;
	text-align: center;
	box-shadow: -2px 2px 20px rgba(0 , 0, 0, 0.2);
	border-radius:200px;
	color: skyblue;	
}

.logo2 {
	width: 250px;
	display: inline-block;
	margin: 0 auto;
}

/**************** Section Example ****************/
.services, .example{
	margin: 100px 0;
}

.example p {
	padding: 12px 0;
}

.flecha {
	text-align: center;
}

/**************** Section Steps ****************/
.img-steps{
	background: rgba(66, 66, 87, 0.64) !important;
    height: 470px;
    position: relative;
}

.img-transparency{
	background-image: url("../image/sec-2.jpg") ;
    background-size: cover;
    background-position: left center;
   	position: relative;
    left:0; 
    top:0;
    min-height: 470px;
    width: 100%;
    opacity: 0.5px; 
    z-index: -1;
}

.steps .col-steps-info{
	background: #FFF;
}

.steps .steps-info{
	background: #FFF;
	padding: 5px;
	margin: 0 0 0 30px;
}

.step1, .step2, .step3 {
	position: relative;
}

.step2 ul li {
	margin-left: 20px;
}

.step3{
	margin-bottom: 50px;
}

.iconcircle {
	border-radius:100%;
	height: 50px;
	width: 50px;
	background: #299ff4;
	padding: 10px;
	font-size: 25px;
	color: #FFF;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	margin-left: -50px;
	z-index: 1000;
}
 
h3, h4, p, li {
	padding: 0px;
}

h4 {
	color: skyblue;
}

/**************** Request ****************/
.request {
	margin-top: 100px;
}
.request p, li {
	padding: 10px;
}

.request ul {
	margin-left: 20px;
}

.request small {
	color: #6699ff;
}

.footer-banner {
	position: relative;
	top:50%;
	background-color: rgba(51, 119, 255, 0.4);
	text-align: right;
	color: #fff;
	padding: 10px 0;
}

.banner-button {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 3px;
	font-size: 20px;
}

/**************** Footer ****************/
.footer-banner {
	background: rgba(87, 149, 255, 0.79);
	padding: 30px 0;
}

.footer-banner h3 {
	margin: 0;
}

.footer-button {
	background: none;
	border:1px solid #FFF;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 20px;

}

.page-footer {
	background-color: #00004d;
	color: #fff;
    padding: 20px 0;
}

.icon-redes {
	display: inline-block;
    color: skyblue;
    font-size: 20px;
    padding-left: 180px;   
}

.page-footer small {
	margin-left: 10px;
}

.copy {
	line-height: 20px;
}

/**************** Responsive ****************/
@media screen and (max-width:768px)
{
	.banner-info{
		text-align:center;
		margin-bottom: 15px;
	}
	.phrase{
		margin: 60px 0;
	}
	.phrase h2{
		font-size: 20px;
	}
	.form {
		width: 90%;	
	 	height: 500px;
	}
	.page-footer {
		text-align: center;
	}
	.icon-redes {
		padding: 0;   
	}
	.steps .container{
	margin-bottom: 100px;
	}
}

@media screen and (max-width:999px)
{
	.iconcircle{
		margin-left: -65px;
	}
	.steps .col-steps-info{
		background: none;
	}
	.steps .row{
		background-size: cover;
	}
	.steps .steps-info{
		margin: 20px;
		border-radius: 10px;
		box-shadow: 2px 2px 20px rgba(0,0,0,0.8);
		padding: 5px 20px 5px 40px;
	}
	.form {
		width: 90%;
	 	height: 500px;
	}
	.page-footer {
		text-align: center;
	}
	.icon-redes {
		padding: 0;   
	}
	.steps .container{
	margin-bottom: 100px;
	}
}

@media screen and (max-width:999px) and (min-width:768px)
{
	.desktop-menu{
		text-align: center;
	}
	.form {
		width: 90%;
	 	height: 500px;
	}
	.page-footer {
		text-align: center;
	}
	.icon-redes {
		padding: 0;   
	}
	.steps .container{
	margin-bottom: 100px;
	}
}