
*{
	outline: 1px solid rgba(255, 0, 0, 0.4);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-transition: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body {
	
}

.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;  
}

.clearfix {
	display: table;
}

.clearfix:after{
	content:"";
	clear: both;
}

/**************** Header ****************/


.banner {
    position: relative;
    background: rgba(0,0,0,.6) !important;
    height: 600px;
    color: #fff;
    text-align: center;
}

.banner .img {
    position: absolute;
    left:0; top:0;
    background-size: cover;
    min-height: 768px;
    width: 100%;
    opacity: 0.5px; 
    background-image: url("../image/large.jpg");
    z-index: -1;
}
.phrase {
	width: 50%;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-120%);
}
.header-banner {
	position: relative;
	top: 61%;
	background-color: rgba(51, 119, 255, 0.4);
}

.button {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	float: left;
}

/**************** Services ****************/

.services {
	height: 400px;
}
.services h5{
	color:#006699;
}
.text-center {
	color: #6699ff; 
	text-align: center;	
 }

.icon-container {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	line-height: 150px;
	font-size: 60px;
	text-align: center;
	box-shadow: -2px 2px 20px rgba(0 , 0, 0, 0.2)
	border-radius:200px;
	color: skyblue;
}

.logo2 {
	width: 250px;
	display: inline-block;
	margin: 0 auto;
}
/**************** Example ****************/

.flecha {
	text-align: center;
}
.divider {
	position: relative;
	top: -50px;
	margin: 0 auto;
}

/**************** Request ****************/
.iconcircle {
	position: relative;
	color: #6699ff;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 100%;
	z-index: 100;
	color: #fff;
	font-size: 50px;
}

	width: 150px;
	height: 150px;
	margin: 0 auto;
	line-height: 150px;
	font-size: 60px;
	text-align: center;
	box-shadow: -2px 2px 20px rgba(0 , 0, 0, 0.2)
	border-radius:200px;
	color: skyblue;

/**************** Footer ****************/
.footer-banner {
	position: relative;
	top: 61%;
	background-color: rgba(51, 119, 255, 0.4);
}

/**************** Responsive ****************/
